* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px;
}
.menu {
    width: 146px;
    height: 24px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}
.barra-de-pesquisa {
    width: 404px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.barra-de-pesquisa input {
    width: 348px;
    border: 1px solid #CCCCCC;
}
.barra-de-pesquisa button {
    border: 1px solid #CCCCCC;
    border-left: none;
    width: 50px;
}
.conta {
    gap: 10px 20px;
    width: auto;
    height: 34px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}
.enviar-video {
    border: none;
    background: transparent;
}
.notificacao {
    border: none;
    background: transparent;
}
.avatar {
    background-image: url(/assets/images/WhatsApp\ Image\ 2023-09-28\ at\ 21.04.39.jpeg);
    background-size: cover;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
}
main {
    display: flex;
    gap: 10rem;
}
.barra-navegacao {
    display: block;
    max-width: 218px;
    min-width: 218px;
    padding: 24px;
}
.barra-navegacao button {
    display: flex;
    justify-content: left;
    gap: 16px;
    background: none;
    border: 0;
    cursor: pointer;
    align-items: center;
    font-weight: 600;
    margin: 20px 0;
}
.videos {
    background: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
    grid-auto-flow: row;
}
.video {
    display: block;
    align-items: start;
    gap: 10px;
    margin: 16px 0 16px;
}
.infos {
    max-width: 250px;
    height: 100;
    left: 176px;
    margin-left: 7px;
    display: flex;
    gap: 12px;
}
.avatar-canal {
    width: 42px;
    height: 42px;
}
.infos .titulo {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
.infos .canal {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #515151;
    margin: 5px;
    margin-left: 0;
}
.infos .visualizacoes {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #515151;
    margin: 5px;
    margin-left: 0;
}
